<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-grid class="toolbar">
            <ion-row class="align">

                <ion-col class="logo" size="3">
                    <img src="assets\splashscreen.png" id="icon" alt="User Icon" />
                </ion-col>
                <ion-col class="Account">
                    <div>Available Coupons</div>
                </ion-col>
                <!-- <ion-col class="logout" size="2">
          <div><ion-icon class="setting" (click)="oniconClick()" name="settings-outline"></ion-icon></div>
        </ion-col> -->
                <ion-buttons class="menu_btn">
                    <ion-menu-button menu="first">
                        <ion-icon class="setting" name="settings-outline"></ion-icon>
                    </ion-menu-button>
                </ion-buttons>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing....."></ion-refresher-content>
    </ion-refresher>
    <ion-content class="available_content ion-padding-top">
        <ion-row class="ion-justify-content-center" *ngIf="adlists.length > 0 && couponlist.length > 0">
            <ion-col size="11">
                <ion-slides pager="true" [options]="sliderOptions" id="main_slider_container">
                    <ion-slide *ngFor="let adlist of adlists" class="main_slider">
                        <div size="12" class="slider_div"><img src="{{adlist.path}}" id="icon" class="slider_image" alt="User Icon" /></div>
                        <div size="12" class="slider_div">
                            <h4 class="slider_title">{{adlist.title}}</h4>
                        </div>
                        <div size="12" class="slider_div">
                            <p class="slider_description">{{adlist.description}}</p>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>

        <div class="radiousa" *ngIf="couponlist.length > 0">
            <ion-card *ngFor="let coupon of couponlist;" class="coupon-card-style">
                <ion-card-header>
                    <ion-thumbnail slot="start">
                        <ion-img (click)="redeem(coupon.id)"><img src="{{coupon.path}}"></ion-img>
                    </ion-thumbnail>
                    <img (click)="redeem(coupon.id)" class="picture" src="{{coupon.path}}">
                    <ion-card-subtitle>
                        <h5>{{coupon.title}}</h5>
                    </ion-card-subtitle>

                </ion-card-header>

                <ion-card-content>
                    <p>{{coupon.description}}</p>
                    <ion-row>
                        <ion-col class="coupon-card-hyper">

                            <a (click)="redeem(coupon.id)" class="here">Click here to redeem </a>
                        </ion-col>
                    </ion-row>


                </ion-card-content>
            </ion-card>

        </div>
        <div class="radious vertical_center" *ngIf="couponlist.length <= 0">
            <ion-row>
                <ion-col class="ion-text-center">
                    <img src="assets\sorry-icon.svg" id="icon" alt="User Icon" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center sorry_text">
                    Sorry!
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="10" class="ion-text-center sorry_description">
                    <ion-text>
                        Currently there is no coupon available for you. Please check back later
                    </ion-text>
                </ion-col>
            </ion-row>
        </div>
    </ion-content>