
 <ion-content class="background">
  <div src="assets/background.png" id="background" alt="background" >
    <div class="wrapper fadeInDown">
      <div id="">
        <!-- Tabs Titles -->
      
        <div class="fadeInfirst">
          <img src="assets/logo1.png" id="icon" alt="User Icon" />
        </div>
        <div class="youraccount">  
          <h2> Welcome to  </h2>
          <h2> Boom-Gen Inspections </h2>
        </div>
        <div class="loading">  
          <h3> Please wait... </h3>
        </div>
      </div>
    </div>
  </div>
</ion-content>
