.account{
    align-self: center;
    font-weight: 700;
}

.list_icon{
    width: 15px;
    height: 15px;
    margin-right: 13px;
    align-self: center;
}

.list_text{
    font-size: 13px;
    font-weight: bold;
}

.list_row{
    padding-left: 22px;
}