<ion-header [translucent]="true">
  <ion-toolbar >
  <ion-grid class="toolbar">  
      <ion-row class="align">
        <ion-col size="1">
          <div><ion-icon class="chevron"  (click)="onbackClick()" name="chevron-back-outline"></ion-icon></div>
        </ion-col>
        <ion-col class="logo" size="3">
          <img src="assets\splashscreen.png" id="icon" alt="User Icon"/>
        </ion-col>
        <ion-col class="Account">
          <div>Available Coupons</div>
        </ion-col>
        <ion-col class="logout" size="2">
          <div><ion-icon class="setting" (click)="oniconClick()" name="settings-outline"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content >
  
  <div class="radious">
    
  <ion-item >
    <ion-thumbnail slot="start" >
      <img class="picture" src="assets\4260d3c17bc862c0b0275fa6c4a58000.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\Group 20.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\Group 20.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="picture" src="assets\real-estate-logo-maker-a969-1024x1024.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>10% off on next purchase of</h3>
      <h3>of $50 or more</h3>
      <a>Click here to redeem > </a>
      </ion-label>
    </ion-item>
  </div>  
</ion-content>
