

<ion-content>
  
    <div class="wrapper fadeInDown">
      <div id="">
        <!-- Tabs Titles -->
       
        <div class="fadeInfirst">
          <img src="assets/logo1.png" id="icon" alt="User Icon" />
        </div>
        <div class="youraccount">  
          <h2> Login to your Account </h2>
        </div>
        <!-- Login Form -->
        <div class="align">
          <form>
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
          </form>
          <div class="button">
            <input type="submit" (click)="onSubmitClick()" class="fadeIn fourth" value="Submit">
          </div>
        </div>  
        <div class="a">
          <a class="underlineHover"  href="#">Forgot Password?</a>
        </div>
        
      </div>
    </div>
  
</ion-content>
