.chevron {
  color: rgb(175, 181, 187);
}

.data {
  padding-left: 15px;
  padding-top: 6px;
  margin-bottom: 20px;
}
input[type="text"] {
  width: 95%;
  padding: 12px 18px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid rgb(224, 216, 216);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgb(241, 241, 235);
}

.button {
  padding-left: 8px;
  padding-right: 8px;
}

.App {
  padding-top: 10px;
  text-align: center;
}

.app-version p {
  font-size: 10px;
  color: #ccc;
}
.logout {
  font-size: 12px;
  color: brown;
  text-align: center;
}
.Account {
  text-align: left;
  padding-left: 0px;
}
.toolbar {
  max-height: 70px;
  padding-top: 0px;
}
.back-outline {
  color: rgb(175, 181, 187);
}
.align {
  align-items: center;
}
.chevron {
  color: rgb(184, 178, 178);
  width: 20px;
  height: 25px;
}
